{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block content %}

    <h1>Mon compte</h1>

    Bienvenue {{ app.user.firstname }} dans votre compte !
    
    <div class="row">

        <div class="md-4">
            <div class="account-item text-center">
                <img src="{{ asset('assets/img/padlock(1).png') }}" alt="modifier mot de passe">
                <a href="{{ path('app_account_password') }}">Modifier mon mot de passe</a>
            </div>
        </div>
        <div class="md-4">
            <div class="account-item text-center ml-2">
                <img src="{{ asset('assets/img/home-address.png') }}" alt="mes adresses">
                <a href="{{ path('app_account_address') }}">Gérer mes adresses</a>
            </div>
        </div>
        <div class="md-4">
            <div class="account-item text-center ml-2">
                <img src="{{ asset('assets/img/cargo.png') }}" alt="Mes commandes">
                <a href="{{ path('app_account_order') }}">Mes commandes</a>
            </div>
        </div>
        
    </div>

{% endblock %}
